<div>
  <div>
    <h1>
      Comment #<%= @the_comment.id %> details
    </h1>

    <div>
      <div>
        <a href="/comments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_comment.user_id %>
      </dd>

      <dt>
        Company roles
      </dt>
      <dd>
        <%= @the_comment.company_roles_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_comment.user_id %>">
      </div>

      <div>
        <label for="company_roles_id_box">
          Company roles
        </label>

        <input type="text" id="company_roles_id_box" name="query_company_roles_id" value="<%= @the_comment.company_roles_id %>">
      </div>

      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
