<%require "date"%>
<h1>Interview Data</h1>
<hr>

<h5><strong>Filters:</strong></h5>
<div><strong>Company: </strong>
  <%if @company=="0"%>
    <%="NA"%>
  <%else%>
    <%=@company%>
  <%end%>
<strong>Position: </strong>
  <%if @position_type=="0"%>
    <%="NA"%>
  <%else%>
    <%=@position_type%>
  <%end%>
<strong>Role: </strong>
  <%if @role=="0"%>
    <%="NA"%>
  <%else%>
    <%=@role%>
  <%end%>
<strong>Interview Round: </strong>
  <%if @round=="0"%>
    <%="NA"%>
  <%else%>
    <%=@round%>
  <%end%>
</div>
<hr>

<!-- new-->

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <strong>Interview Questions</strong>
      </button>
    </h2>
    
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <p class="mb-3"><strong>Frequently asked questions in order of frequency</strong><p>
          
          <dl>
          <%@questions_list.each do |a_question|%>
            <%question_to_display=Question.where({:id=>a_question.question_id})%>
            <%question_to_display.each do |the_question|%>
              <dd><%=the_question.text%> (<%=the_question.question_type%>)</dd>
            <%end%>
          <%end%>
          </dl>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <strong>Interview Formats</strong>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <p class="mb-3"><strong>Most frequent interview formats in order of frequency</strong><p>
        <dl>
        <%@formats_list.each do |a_format|%>
          <%format_to_display=InterviewFormat.where({:id=>a_format.format_id})%>
          <%format_to_display.each do |the_format|%>
            <dd>Round <%=a_format.round%>: <%=the_format.number_of_interviews%> interview(s); <%=the_format.duration%> <%=the_format.time_format%></dd>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <strong>Comments</strong>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          <% if @comments_list=="0"%>
            <%="Must filter by company or position to view comments."%>
          <%else%>
            <%@comments_list.each do |a_comment|%>
                <dd><p class="fst-italic">"<%=a_comment.comment%>"</p></dd>
            <%end%>
          <%end%>
      </div>
    </div>
  </div>
</div>
