<h1 class="pt-2">Interview Format</h1>

<%@company_name=params.fetch("company")%>
<%@position_type=params.fetch("position_type")%>
  <%if @company_name=="0"%>
    <%@company_name=params.fetch("company_other")%>
    <%c=CompanyRole.new%>
    <%c.name=@company_name%>
    <%c.full_part_time="Full-time"%>
    <%c.save%>
    <%d=CompanyRole.new%>
    <%d.name=@company_name%>
    <%d.full_part_time="Internship"%>
    <%d.save%>
  <%end%>
<%@company=CompanyRole.where({:name=>@company_name, :full_part_time=>@position_type}).at(0)%>
<%@company_id=@company.id.to_i%>
<%@role_name=params.fetch("role")%>
  <%if @role_name=="0"%>
    <%@new_role_name=params.fetch("role_other")%> 
    <%r=Role.new%>
    <%r.role=@new_role_name%>
    <%r.save%>
    <%@role_name=Role.all.order({:created_at=>:desc}).at(0).role%>
  <%end%>
<%@role=Role.where({:role=>@role_name}).at(0)%>
<%@role_id=@role.id.to_i%>
<%@interview_round=params.fetch("round")%>
<%@interview_format_entries=InterviewFormatsEntry.where({:company_id=>@company_id}).order({:frequency=>:desc})%>

<div>
<div class="collapse.show" id="collapseExample">
  <div class="card card-body">
  <%if params.fetch("company")=="0"%>
    No interview formats have been submitted for this company yet. Please fill out the form below to submit a new interview format.
  <%else%>
    These are the most common interview formats for this company. Please select the format for your interview. 
  <%end%>
  <form action="/insert_interview_formats_entry" method="post"> 
    <%@format_number=1%>
    <%@interview_format_entries.each do |a_format|%>
      <%format_id=a_format.format_id%>
      <%@format=InterviewFormat.where({:id=>format_id}).at(0)%>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="format<%=@format_number%>" id="format<%=@format_number%>" value="<%=format_id%>">
        <label class="form-check-label" for="format<%=@format_number%>">
          <%=@format.number_of_interviews%> interview(s); <%=@format.duration%> <%=@format.time_format%> each
        </label>

      </div>
      <%@format_number=@format_number+1%>
    <%end%>
  
<hr>

If your interview format was NOT listed above, please fill out the form below.
<label>How many interviews did you do?</label>

<select class="form-select mb-3 w-50" id="interviews_number" name="interviews_number">
  <option selected></option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>

<div class="input-group mb-2">
  <div class="mb-2">
    <label for="duration">Duration per interview</label> 
    <input id="duration" name="duration">
  </div>
  <div class="form-check">
    <input class="form-check-input p-2" type="checkbox" name="min" id="min" value="true">
    <label class="form-check-label" for="min">
      min 
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="hr" id="min" value="true">
    <label class="form-check-label" for="hr">
      hr
    </label>
  </div>
</div>
What type of questions were you asked?
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="general" id="general" value="true">
    <label class="form-check-label" for="general">
      General
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="behavioral" id="behavioral" value="true">
    <label class="form-check-label" for="behavioral">
      Behavioral 
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="case_question" id="case_question" value="true">
    <label class="form-check-label" for="case_question">
      Case
    </label>
  </div>

<input name="company_id" type="hidden" value="<%=@company_id%>">
<input name="role_id" type="hidden" value="<%=@role_id%>">
<input name="round" type="hidden" value="<%=@interview_round%>">
<input name="format_number" type="hidden" value="<%=@format_number-1%>">

<button class="btn btn-primary">Next</button>
  
</form>
</div>
</div>
</div>
