<div>
  <div>
    <h1>
      Role #<%= @the_role.id %> details
    </h1>

    <div>
      <div>
        <a href="/roles">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_role/<%= @the_role.id %>">
          Delete role
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Role
      </dt>
      <dd>
        <%= @the_role.role %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_role.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_role.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit role
    </h2>

    <form action="/modify_role/<%= @the_role.id %>"  method="post" >
      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role" value="<%= @the_role.role %>">
      </div>

      <button>
        Update role
      </button>
    </form>
  </div>
</div>

<hr>
